<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="row">
        <div class="col">

            <!-- Regiones -->
            <label class="form-label mb-3">
                Continente:
            </label>
            <select class="form-control"
                    formControlName="region">
            <option value="">
                -- Seleccione la region --
            </option>
                <option *ngFor="let region of regiones"
                        [value]="region | lowercase">
                    {{ region }}
                </option>
            </select>

            <!-- Paises -->
            <label class="form-label mb-3">
                País:
            </label>
            <select class="form-control"
                    formControlName="pais">
            <option value="">
                -- Seleccione el país --
            </option>
                <option *ngFor="let pais of paises"
                        [value]="pais.alpha3Code">
                    {{ pais.name }}
                </option>
            </select>

            <!-- Boton submit -->
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Seleccionar
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>

<br><hr>

<h5>Formulario</h5>
<pre>Valid: {{ miFormulario.valid | json }}</pre>
<pre>Value: {{ miFormulario.value | json }}</pre>